
.navbar-container {
    height: 100vh;
    width: 60px; 
    background: #FFFF;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px #6760EF;
    transition: width 0.5s ease; 
}
  
  .navbar-container.open {
    width: 200px; 
    background: #FFFF;
  }

  
  .toggle {
    padding: 5px;
  }

  .toggle.open{
    margin-left: auto;
  }

  .toggle i{
    font-size: x-large;
    color: #6760EF;
  }
  
  .row-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  
  .row-element :hover{
    color: #6760EF;
    opacity: 0.5;
}
  .row-icon {
    padding-right: 10px; 
    display: flex; 
    justify-content: center; 
  }
  
  .row-icon i {
    font-size: x-large;
    color: #6760EF;
    opacity: 1;
  }
  
  .row-text {
    font-size: 18px;
    font-weight: 600;
    color: #6760EF;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  